<html>
<head>
    <title>404</title>
    <style>
        html{
            background: url("../img/404.png");
            height: 100%;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
        }
    </style>
</head>
<body>

</body>
</html>

